/* Contenedor principal del carrusel */
.peliculas-recomendadas {
    position: relative;
    margin-bottom: 70px;
}

/* Flechas de navegación */
.peliculas-recomendadas::before,
.peliculas-recomendadas::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.peliculas-recomendadas::before {
    left: 10px;
    content: '<';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.peliculas-recomendadas::after {
    right: 10px;
    content: '>';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

/* Ajustes para evitar conflictos con el contenido de desplazamiento */
.posters {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
    -ms-overflow-style: none; /* Ocultar barra de desplazamiento en IE y Edge */
}

.posters::-webkit-scrollbar {
    display: none; /* Ocultar barra de desplazamiento en Chrome, Safari y Opera */
}

/* Ajustes para las imágenes del carrusel */
.poster {
    flex: 0 0 auto;
    width: 100%;
    max-width: 200px; /* Ajustar según el tamaño deseado */
    margin-right: 10px;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(1.08);
}

/* Ajustes para la imagen principal */
.inicio {
    background-image: url("inside-out-intensamente-17062024.webp");
    background-size: cover;
    background-position: center center;
    color: white;
    height: 448px;
}

/* Otros estilos que ya tienes */
.contenido {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.titulo {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.descripcion {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.play {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.play:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.click {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}
